*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1d9e75;
  --color-primary-light: #e1f5ee;
  --color-primary-dark: #085041;
  --color-primary-medium: #0f6e56;
  --color-primary-border: #9fe1cb;

  --color-background: #f5f5f2;
  --color-border: rgba(0, 0, 0, 0.09);
  --color-text-main: #1a1a18;
  --color-text-secondary: #6b6b67;
  --color-placeholder: #b0aea8;

  --amber: #ba7517;
  --amber-lt: #faeeda;
  --amber-dk: #633806;

  --purple: #534ab7;
  --purple-lt: #eeedfe;
  --purple-dk: #3c3489;

  --red: #a32d2d;
  --red-lt: #fcebeb;
  --red-br: #f09595;

  --font-family: "Rubik", sans-serif;
  --font-family-en: "Inter", sans-serif;

  --border-radius-small: 8px;
  --border-radius-large: 16px;
}

body {
  font-family: var(--font-family);
  background: var(--color-background);
  color: var(--color-text-main);
  min-height: 100vh;
}